<a href="https://colab.research.google.com/github/Bungagcpe/CPE-009A/blob/main/BUNGAG_Hands_on_Activity_3_1_Boolean_Values%2C_Conditional_Execution%2C_Loops%2C_Lists_and_List_Processing%2C_Logical_and_Bitwise_Operations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Hands-on Activity 3.1 Boolean Values, Conditional Execution, Loops, Lists and List Processing, Logical and Bitwise Operations**

In [4]:
#Task 1.1:

Year = int(input("Enter A Year: "))
if Year % 4 !=0:
  print("This Is A Common Year")
elif Year % 100 !=0:
  print("This Is A Leap Year")
elif Year % 400 !=0:
  print("This Is A Common Year")
else:
  print("This Is A Leap Year")

if Year < 1582:
  print("The Year Is Not Within the Gregorian Calendar")

Enter A Year: 2017
This Is A Common Year

Remarks: This is a if-elif-else statement that determines if a year that is inputed is a leap year, common year, or a year that is not within the gregorian calendar.

In [4]:
#Task2.1

import time
for i in range (1,6):
  print(i, "Mississippi")
  time.sleep(1)
print("Ready or Not, Here I Come!")

1 Mississippi
2 Mississippi
3 Mississippi
4 Mississippi
5 Mississippi
Ready or Not, Here I Come!

Remarks: This code counts with the word "Mississipi" and has a tick delay of 1 second.

In [6]:
#Task2.2

Blocks = int(input("Enter the Number of Blocks: "))
Height = 0
in_layer = 1
while Blocks >= in_layer:
  Blocks -= in_layer
  Height += 1
  in_layer += 1
print("The Height of this Pyramid is: ", Height)

Enter the Number of Blocks: 225
The Height of this Pyramid is:  20

Remarks: This while loop statement outputs how high the pyramid may be based on the specific blocks inputed.

In [7]:
#Task3

my_list = [2, 71, 12, 4, 32, 10, 9, 2, 12, 21]
unique_list = []
for Element in my_list:
    if Element not in unique_list:
        unique_list.append(Element)
my_list = unique_list
print("The List with Unique Elements Only are: ")
print(my_list)

The List with Unique Elements Only are:
[2, 71, 12, 4, 32, 10, 9, 21]

Remarks: This code outputs all the unique elements in the declared list using loop.

In [15]:
#Supplementary Act1

Score = [85, 72, 90, 60, 78, 55, 88]
Bonus_Flags = [1, 0, 1, 0, 1, 0, 1]
Results = []

Passed_Counts = 0
Failed_Counts = 0
Certificates = 0

for i in range(len(Score)):
  Passed = Score[i] >= 75
  bonus_applied = (Bonus_Flags[i] == 1)

  standing = "PASS" if Passed else "FAIL"
  Results.append(f"Student {i+1}: {standing}")

  if Passed:
    Passed_Counts += 1
  else:
    Failed_Counts += 1

  if Passed and bonus_applied:
    Certificates += 1

print("Results:")
print("Total Number of Students:", len(Score))
print("Students who Passed:", Passed_Counts)
print("Students who Failed", Failed_Counts)
print("Students who Earned Certificates:", Certificates)

Results:
Total Number of Students: 7
Students who Passed: 4
Students who Failed 3
Students who Earned Certificates: 4

Remarks: This code evaluates the grade of each students using the for loop for all the declared variables inside the list.

In [20]:
#Supplementary Act2

List_of_Numbers = [72, 92, 83, 99, 81, 93, 79]
print("Original Lists: ", List_of_Numbers)

Swapped = True
while Swapped:
    Swapped = False
    for i in range(len(List_of_Numbers)- 1):
      if List_of_Numbers[i] > List_of_Numbers[i + 1]:
        List_of_Numbers[i], List_of_Numbers[i + 1] = List_of_Numbers[i + 1], List_of_Numbers[i]
        Swapped = True

print("Sorted List: ", List_of_Numbers)

Original Lists:  [72, 92, 83, 99, 81, 93, 79]
Sorted List:  [72, 79, 81, 83, 92, 93, 99]

Remarks: This code lists the original numbers first and then runs the loop then sorted the number from lowest to highest.